# Pandas Cheat

## Dataframeの扱い方

In [18]:
import pandas as pd

### list -> dataframe

In [22]:
fruit_list = ["りんご", "ぶどう", "みかん"]
df_fruit01 = pd.DataFrame(fruit_list, columns = ["果物"])
print(df_fruit01)

    果物
0  りんご
1  ぶどう
2  みかん

In [23]:
amount_list =  [200, 400, 80] 
df_amount = pd.DataFrame(amount_list, columns = ["金額"])
print(df_amount)

    金額
0  200
1  400
2   80

### 結合

In [24]:
# 横に列を追加
df_join01 = df_fruit01.join(df_amount)
print(df_join01)

    果物   金額
0  りんご  200
1  ぶどう  400
2  みかん   80

In [25]:
# 縦に行を追加
fruit_list02 = ["桃","梨","苺"]
df_fruit02 = pd.DataFrame(fruit_list02)
# print(pd.concat([df01, df02.set_axis(["果物"], axis="columns")], axis="index"))
df_join02 = pd.concat([df_fruit01, df_fruit02.set_axis(["果物"], axis="columns")], axis="index")
print(df_join02)

    果物
0  りんご
1  ぶどう
2  みかん
0    桃
1    梨
2    苺

In [71]:
# 多次元リスト
list01 = [["たろう",12,"のんびり"],["ゆき",15,"コツコツ"]]
df_character01 = pd.DataFrame(list01, columns = ['Name','Age','Character'])
df_character01

  Name  Age Character
0  たろう   12      のんびり
1   ゆき   15      コツコツ

In [76]:
# 多次元リスト結合

list02 = [["しんご", 10, "げんき"], ["こうへい", 9, "弱気"]]

df_character02 = pd.DataFrame(list02, columns = ['Name','Age','Character'])

# 縦に結合(インデックスはふりなおし)
df_join03 = pd.concat([df_character01, df_character02], ignore_index=True)
df_join03

   Name  Age Character
0   たろう   12      のんびり
1    ゆき   15      コツコツ
2   しんご   10       げんき
3  こうへい    9        弱気

In [75]:
# 横に結合
df_character03 = pd.DataFrame(list02, columns = ['sibling_Name','sibling_Age','sibling_Character'])
df_join04 = df_character01.join(df_character03)
df_join04

  Name  Age Character sibling_Name  sibling_Age sibling_Character
0  たろう   12      のんびり          しんご           10               げんき
1   ゆき   15      コツコツ         こうへい            9                弱気

### カラム抽出

In [47]:
# カラム抽出
df_character01["Name"]

0    たろう
1     ゆき
Name: Name, dtype: object

In [48]:
df_character01[["Name","Character"]]

  Name Character
0  たろう      のんびり
1   ゆき      コツコツ

### ソート

In [44]:
# Sort
df_character01.sort_values(["Age"],ascending=[True])

  Name  Age Character
0  たろう   12      のんびり
1   ゆき   15      コツコツ

### ファイル入出力

In [59]:
#ファイル読み込み
df_weather01 = pd.read_csv("../file/sample01.csv", encoding= "utf8")

df_weather01

             年月日  最高気温  最低気温  9時 12時 15時     降水量
0   2022年1月1日（土）   7.2   2.3  晴れ   雪   曇  0.0 mm
1   2021年1月1日（金）   7.6   2.3  晴れ  晴れ   曇       -
2   2020年1月1日（水）  10.7   3.7  晴れ  晴れ  晴れ       -
3   2019年1月1日（火）  10.0   1.0  晴れ  晴れ   曇    2 mm
4   2018年1月1日（月）  10.6   4.4  晴れ  晴れ  晴れ       -
..           ...   ...   ...  ..  ..  ..     ...
57  1965年1月1日（金）  12.6   6.6   霧  晴れ  晴れ    2 mm
58  1964年1月1日（水）   9.8   2.8   曇   曇   曇  0.3 mm
59  1963年1月1日（火）   6.4   0.6  晴れ  晴れ   曇  0.4 mm
60  1962年1月1日（月）   6.0   0.1   曇   雨   雨   14 mm
61  1961年1月1日（日）   5.2  -0.7  晴れ  晴れ  晴れ       -

[62 rows x 7 columns]

In [58]:
# ファイル読み込み（ヘッダ削除）
# 実際のヘッダ行をスキップして、header=None を指定
df_weather02 = pd.read_csv("../file/sample01.csv", encoding= "utf8", skiprows=1, header=None)
df_weather02

               0     1    2   3   4   5       6
0   2022年1月1日（土）   7.2  2.3  晴れ   雪   曇  0.0 mm
1   2021年1月1日（金）   7.6  2.3  晴れ  晴れ   曇       -
2   2020年1月1日（水）  10.7  3.7  晴れ  晴れ  晴れ       -
3   2019年1月1日（火）  10.0  1.0  晴れ  晴れ   曇    2 mm
4   2018年1月1日（月）  10.6  4.4  晴れ  晴れ  晴れ       -
..           ...   ...  ...  ..  ..  ..     ...
57  1965年1月1日（金）  12.6  6.6   霧  晴れ  晴れ    2 mm
58  1964年1月1日（水）   9.8  2.8   曇   曇   曇  0.3 mm
59  1963年1月1日（火）   6.4  0.6  晴れ  晴れ   曇  0.4 mm
60  1962年1月1日（月）   6.0  0.1   曇   雨   雨   14 mm
61  1961年1月1日（日）   5.2 -0.7  晴れ  晴れ  晴れ       -

[62 rows x 7 columns]

In [64]:
# カラム名を指定
# header=0  で実際のヘッダを指定することで、元のヘッダは無視される
df_weather03 = pd.read_csv("../file/sample01.csv",names=["Date","Highest temperature", "Lowest temperature"
,"0900", "1200", "1500", "Precipitation"], header=0)
df_weather03

,Date,Highest temperature,Lowest temperature,0900,1200,1500,Precipitation
0,2022年1月1日（土）,7.2,2.3,晴れ,雪,曇,0.0 mm
1,2021年1月1日（金）,7.6,2.3,晴れ,晴れ,曇,-
2,2020年1月1日（水）,10.7,3.7,晴れ,晴れ,晴れ,-
3,2019年1月1日（火）,10.0,1.0,晴れ,晴れ,曇,2 mm
4,2018年1月1日（月）,10.6,4.4,晴れ,晴れ,晴れ,-
...,...,...,...,...,...,...,...
57,1965年1月1日（金）,12.6,6.6,霧,晴れ,晴れ,2 mm
58,1964年1月1日（水）,9.8,2.8,曇,曇,曇,0.3 mm
59,1963年1月1日（火）,6.4,0.6,晴れ,晴れ,曇,0.4 mm
60,1962年1月1日（月）,6.0,0.1,曇,雨,雨,14 mm
61,1961年1月1日（日）,5.2,-0.7,晴れ,晴れ,晴れ,-

In [65]:
# tsv読み込み
df_weather04 = pd.read_table("../file/sample02.tsv", encoding="utf8")
df_weather04

             年月日  最高気温  最低気温  9時 12時 15時     降水量
0   2022年1月1日（土）   7.2   2.3  晴れ   雪   曇  0.0 mm
1   2021年1月1日（金）   7.6   2.3  晴れ  晴れ   曇       -
2   2020年1月1日（水）  10.7   3.7  晴れ  晴れ  晴れ       -
3   2019年1月1日（火）  10.0   1.0  晴れ  晴れ   曇    2 mm
4   2018年1月1日（月）  10.6   4.4  晴れ  晴れ  晴れ       -
..           ...   ...   ...  ..  ..  ..     ...
57  1965年1月1日（金）  12.6   6.6   霧  晴れ  晴れ    2 mm
58  1964年1月1日（水）   9.8   2.8   曇   曇   曇  0.3 mm
59  1963年1月1日（火）   6.4   0.6  晴れ  晴れ   曇  0.4 mm
60  1962年1月1日（月）   6.0   0.1   曇   雨   雨   14 mm
61  1961年1月1日（日）   5.2  -0.7  晴れ  晴れ  晴れ       -

[62 rows x 7 columns]

In [66]:
# csvファイル出力
df_fruit01.to_csv("../file/fruit01.csv", encoding="utf8")

In [68]:
# tsvファイル出力
df_fruit01.to_csv("../file/fruit01.tsv", sep='\t')

In [70]:
# ヘッダ,インデックスなし
df_fruit01.to_csv("../file/fruit01_noheader.csv", encoding="utf8", header=False, index=False)